
.panel.add-goal {

  border: 1px solid $add-goal-borders;
  padding: 2% 4%;

  h4 {
    margin-bottom: 8px;
  }

  h5 {
    display: inline-block;
  }

  .overlay {

    &.hidden {
      display: none;
    }

    &.active {
      display: block;
    }

  }

}
